.jumbotron {
	padding-top: 12rem;
	background-color: #fbedcd;	 
}

#projects {
	background-color: #fbedcd;
}

#jadwal {
	background-color: #fbedcd;
}

section {
	padding-top: 5rem;

}

